
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=eed0e0b5369dc73f4b176f32d13bb95a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
